{% include 'base_header.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim | Bana Göz Kulak Ol</title>
</head>
<body>

    <h1>İletişim Bilgilerimiz</h1>
    <p>E-Posta: <a href="mailto:banagozkulakol22@gmail.com">banagozkulakol22@gmail.com</a></p>
    <p>Telefon Numarası (Can Uçan, Web Dev): <a href="tel:+905300549438">+90 (530) 054 94 38</a></p>
    Adres (Sakıp Sabancı Anadolu Lisesi): <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12035.39054874959!2d29.0081207!3d41.0504609!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x426eaf02cbfd0ca!2sSak%C4%B1p%20Sabanc%C4%B1%20Anadolu%20Lisesi!5e0!3m2!1str!2str!4v1672385627986!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</body>
</html>
{% include 'base_footer.html' %}