{% include 'base.html' %}
<!DOCTYPE html>

<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bana Göz Kulak Ol | Anasayfa</title>
</head>

<body>    

    <h2>Kör müsün?</h2> <br>
    {% if request.user.is_authenticated %} 
    hoşgeldiniz sayın {{ user.username }}. <a href="#">Hesabıma git</a> <br>
    <p><a href="{% url 'logout' %}">Çıkış Yap</a></p>
    {% else %}
    Hmm... Bir hesaba giriş yapmamışsınız. Bir hesabınız yoksa <a href="accounts/signup">kayıt olun</a>
    veya bir hesabınız varsa <a href="accounts/login">giriş yapın</a>.
    {% endif %} 
    <h6>meraba ben sabancı öğrencisi muhammed bugün sizlerle loth robotics kulübünün tanıtımını yapıcağız?</h6> <br>
    <h6><a href="/accounts/password_reset">Şifremi Unuttum</a></h6>

</body>

</html>